body {
    background-color: black;
    color: white;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-style: solid;
  }

a:hover{
    color: lightgreen;
    text-decoration: none;
}

a:active{
    color: lightgoldenrodyellow;
    text-decoration: none;
}